/*
Copyright 2014 niallquinn
styles.css created Nov 22, 2014
WebDevProject
*/
/* 
    Created on : Nov 22, 2014, 3:37:36 PM
    Author     : niallquinn
*/

.boxed {
    border: 1px solid black;
    border-radius: 5px;
    border-color: gray;
}

#userDetails {
    width:40%;
    height:200px;
    background-color: white;
    border: 1px solid black;
    float:right;
    position:absolute;
    margin-top:100px;
    padding:10px;
    right:30px;
    display:none;
    border-radius:10px;
}

.centerBox {
    width:70%;
    border:1px solid lightgrey;
    border-radius:5px;
    margin:auto;
    padding:5px;
}

img {
    margin:auto;
}

.centerImage {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.formPretty {
    border-radius: 2px solid gray;
    width: 70%;
}

.label {
    text-align: right;
    /*width:20%;*/
}

.labels {
    width:20%;
    float:left;
}

.form {
    width:70%;
    float:left;
}

